.bid-form-modal {
  &__list-container {
    padding-top: 2.5%;
  }
  &__item-title {
    margin-bottom: 5%;
    font-size: 1rem;
  }
}

.product-list {
  padding: 0 2.5%;
  &-img {
    margin-right: 1.2rem;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: black 1px solid;
  }

  &-icon {
    font-size: 64;
    margin-right: 1.2rem;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: black 1px solid;
    margin-bottom: 2.5%;
  }

  &-label {
    max-width: 60px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
