.product-list {
  padding: 0 2.5% !important;
  margin: 0 0 1.75rem;

  &__item {
    margin-right: 1.25rem;
    width: 80px;
    overflow: hidden;
  }

  &__item:last-child {
    margin-right: 0;
  }

  &__img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: black 1px solid;
  }

  &__icon {
    font-size: 64;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: black 1px solid;
    margin-bottom: 2.5%;
  }

  &__label {
    max-width: 80px !important;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
