.request-card--header,
.request-card--user {
  display: flex;
  align-items: center;
  img {
    margin-right: 2rem;
    height: 50px;
    width: 50px;
    border-radius: 50%;
  }
}

.request-card--header {
  justify-content: space-between;
}
