.request-card {
  &__request-current-price {
    font-size: 1.2rem;
    padding: 0;
    color: #642d91;
  }
}

.generic-card {
  &__request-title {
    font-size: 1.2rem;
    padding: 0;
  }
  
  &__button {
    text-transform: capitalize;
    opacity: 0.8;
  }
}