.generic-card {
  &__header,
  &__user {
    margin: 0;
    padding: 0;
    margin-top: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    img {
      margin-right: 1.2rem;
      height: 50px;
      width: 50px;
      border-radius: 50%;
    }
  }
  &__left {
    display: flex;
    align-items: center;
  }
}

.request-card {
  &__auction-end {
    font-size: 0.75em;
  }
}

#activity-page {
  .request-feed__list-container {
    // background: #ffffff;
    &.list-ios {
      margin-top: -3%;
      margin-bottom: 0px;
    }
  }
}
