.header {
  &__toolbar {
    &-title {
      color: #fff;
      font-size: 0.9rem;
      &.md {
        text-align: right;
      }
      &.ios {
        font-weight: 400;
        text-align: right;
        transform: translateX(18%);
      }
    }
    &-logo {
      margin-left: 15%;
      font-family: inherit;
      font-size: 1.3rem;
      font-weight: bold;
      color: #fff;
    }
  }
}

.ios.header__toolbar {
  padding: 0.5rem 0;
}

.gradient {
  color: linear-gradient(326deg, #a4508b 0%, #5f0a87 74%);
  background: linear-gradient(326deg, #a4508b 0%, #5f0a87 74%);
}