.notifcation-enter {
  opacity: 0;
  transform: scale(0.9);
}
.notifcation-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 500ms, transform 300ms;
}
.notifcation-exit {
  opacity: 1;
}
.notifcation-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 300ms, transform 300ms;
}
