.profile-page {
  --padding-start: 10%;
  --padding-end: 10%;

  &__profile-container {
    height: 100%;
  }

  &__img-container {
    margin-top: 10%;
    display: flex;
    justify-content: center;
    margin-bottom: 7.5%;
    img {
      border: black solid 2px;
      border-radius: 50%;
      width: 85%;
    }
  }

  &__details-container {
    display: flex;
    justify-content: flex-start;
    align-self: flex-end;
    &-list {
      width: 100%;
    }
    &-name {
      margin: 0 auto;
      font-size: 1.3rem;
      font-weight: bold;
      margin-bottom: 10%;
    }
    &-location {
      font-size: 1rem !important;
      margin-bottom: 2.5%;
    }
    &-email {
      font-size: 0.85rem !important;
      margin-bottom: 2.5%;
    }
  }

  &__icon {
    margin-right: 5%;
  }

  &__button-container {
    // margin-top: 2.5%;
  }
}
