/* Ionic Variables and Theming. For more info, please see:
http://ionicframework.com/docs/theming/ */

/** Ionic CSS Variables **/
:root {
  --ion-color-primary: #642d91;
  --ion-color-primary-rgb: 100, 45, 145;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #582880;
  --ion-color-primary-tint: #74429c;

  --ion-color-secondary: #a88fac;
  --ion-color-secondary-rgb: 168, 143, 172;
  --ion-color-secondary-contrast: #000000;
  --ion-color-secondary-contrast-rgb: 0, 0, 0;
  --ion-color-secondary-shade: #947e97;
  --ion-color-secondary-tint: #b19ab4;

  --ion-color-tertiary: #d4b2d8;
  --ion-color-tertiary-rgb: 112, 68, 255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #bb9dbe;
  --ion-color-tertiary-tint: #d8badc;

  --ion-color-success: #9dda89;
  --ion-color-success-rgb: 157, 218, 137;
  --ion-color-success-contrast: #000000;
  --ion-color-success-contrast-rgb: 0, 0, 0;
  --ion-color-success-shade: #8ac079;
  --ion-color-success-tint: #a7de95;

  --ion-color-warning: #ffbd66;
  --ion-color-warning-rgb: 255, 189, 102;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #e0a65a;
  --ion-color-warning-tint: #ffc475;

  --ion-color-danger: #d3485d;
  --ion-color-danger-rgb: 211, 72, 93;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #ba3f52;
  --ion-color-danger-tint: #d75a6d;

  --ion-color-dark: #283150;
  --ion-color-dark-rgb: 40, 49, 80;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #232b46;
  --ion-color-dark-tint: #3e4662;

  --ion-color-medium: #475677;
  --ion-color-medium-rgb: 71, 86, 119;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #3e4c69;
  --ion-color-medium-tint: #596785;

  --ion-color-light: #eeeeee;
  --ion-color-light-rgb: 238, 238, 238;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d1d1d1;
  --ion-color-light-tint: #f0f0f0;
}
